h1{
    font-size: 40px;
    color: #ffeb3b;
}
h2{
    font-size: 25px;
    color: #ffc107;
}
p{
    font-size: 18px;
    color: #cddc39;
}
div{
    background-color: #673ab7;
    text-align: center;
    width: fit-content;
    
}
body{
    background-position-y: center;
}