div{
  overflow: hidden;
  width: 500px;
  background-color: white;
}
body{
    background-color: lightgray;
}
.blue{
    color: lightskyblue;
    border: 5px solid lightskyblue;
    border-radius: 4px;
    width: 50px;
    text-align: center;
}
.red{
    color: rgb(255, 0, 0);
    border: 5px solid rgb(255, 0, 0);
    border-radius: 4px;
    width: 50px;
    text-align: center;
}
.green{
    color: rgb(28, 165, 60);
    border: 5px solid rgb(28, 165, 0);
    border-radius: 4px;
    width: 50px;
    text-align: center;
}
.a{
    float: left;
    margin-left: 225px;
    margin-bottom: 0px;
}
.b{
    clear: both;
    float: left;
    margin-left: 194px;
    margin-top: 1px;
    margin-bottom: 1px;
    
}
.c{
    float: right;
    margin-right: 183px ;
    margin-top: 1px;
    margin-bottom: 1px;
    
}
.d{
    float: left;
    margin-top: 1px;
    margin-left: 165px;
    margin-right: 1px;
    
}
.e{
    float: right;
    margin-top: 1px;
    margin-right: 150px;
}
.f{
    float: right;
    margin-top: 1px;
    margin-right: 1px;
}